<div class="main-wrapper">
    <div class="container-fluid">
        <div class="main-heading my-3">
            <h3>Booking Management</h3>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6 col-lg-3  mb-3">
                <mat-form-field appearance="outline">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Search by Name" #input>
                </mat-form-field>
            </div>
        </div>

        <div class="table-responsive  mb-5">

              <div class="w-100">
                <table mat-table [dataSource]="dataSource" matSort>

                  <!-- ID Column -->
                  <ng-container matColumnDef="sr_no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr. No </th>
                    <td mat-cell *matCellDef="let row, let i = index"> {{i+1}} </td>
                  </ng-container>

                  <!-- Progress Column -->
                  <ng-container matColumnDef="booking_date_time">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Booking Date Time </th>
                    <td mat-cell *matCellDef="let row"> {{row?.booking_date}} - {{row?.booking_time}} </td>
                  </ng-container>
                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                    <td mat-cell *matCellDef="let row"> {{row?.amount}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="driver">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Driver </th>
                    <td mat-cell *matCellDef="let row"> {{row?.driver?.name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="driver_mobile">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Driver Mobile </th>
                    <td mat-cell *matCellDef="let row"> {{row?.driver?.mobile}} </td>
                  </ng-container>

                  <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
                    <td mat-cell *matCellDef="let row"> {{row?.user?.name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="user_mobile">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> User Mobile </th>
                    <td mat-cell *matCellDef="let row"> {{row?.user?.mobile}} </td>
                  </ng-container>
                  
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Booking Status </th>
                    <td mat-cell *matCellDef="let row"> {{row?.status | titlecase}} </td>
                  </ng-container>

                  <!-- <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef > Actions 
                      <div class="d-flex justify-content-center gap-3 align-items-center">
                        <span class="action-head" >Edit</span>
                        <span class="action-head" >Delete</span>
                        <span class="action-head" >Block<br>Unblock</span>
                    </div>  
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="action-icon d-flex justify-content-center gap-3 align-items-center ">
                          <span class="action-head" ><mat-icon matTooltip="Edit">create</mat-icon></span>
                              <span class="action-head"><mat-slide-toggle></mat-slide-toggle></span>
                        </div>
                    </td>
                </ng-container> -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                  </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
              </div>
        </div>
    </div>
</div>