.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #FD7208;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(250, 142, 1, 0.54)
}

/* .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #fd0000;
}
.mat-slide-toggle-thumb {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: #008612;
} */

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #DC3545 ;
}

:host ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #DC3545 ;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: green;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #ff99ff;
}