<div class="main-wrapper">
    <div class="container-fluid">
        <div class="main-heading my-3">
            <h3>Account Management</h3>
        </div>
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="User ">
                <div class="row align-items-center my-3">
                    <div class="col-md-6 col-lg-3  mb-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Search</mat-label>
                            <input matInput placeholder="Search here.." (keyup)="SearchForUser($event)">
                        </mat-form-field>
                    </div>
                    <!-- <div class="col-md-6 col-lg-3 mb-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Select an option</mat-label>
                            <mat-select disableRipple>
                                <mat-option value="1">Option 1</mat-option>
                                <mat-option value="2">Option 2</mat-option>
                                <mat-option value="3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->

                    <!-- <div class="col-md-6 col-lg-3  mb-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Enter a date range</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate placeholder="Start date">
                                <input matEndDate placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                    </div> -->

                    <!-- <div class="col-md-6 col-lg-3 mb-3 text-end">
                        <button mat-raised-button color="primary">Add Button</button>
                    </div> -->
                </div>
                <div class="table-responsive  mb-5">
                    <div class="w-100">
                        <table mat-table [dataSource]="dataSource1">
                            <!-- Position Column -->
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                                <td mat-cell *matCellDef="let element, let i = index"> {{i+1}} </td>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
                            </ng-container>
                            <ng-container matColumnDef="img">
                                <th mat-header-cell *matHeaderCellDef> Image </th>
                                <td mat-cell *matCellDef="let element">
                                    <img class="mb-1 mt-2 border-1"
                                        src="{{(element?.profile_picture) ? (element?.profile_picture) : '/assets/images/profile.png'}}"
                                        style="width: 50px; height: 50px; background-color: #414141;">
                                </td>
                            </ng-container>
                            <!-- Weight Column -->
                            <ng-container matColumnDef="weight">
                                <th mat-header-cell *matHeaderCellDef> Email </th>
                                <td mat-cell *matCellDef="let element"> {{element?.email}} </td>
                            </ng-container>
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="symbol">
                                <th mat-header-cell *matHeaderCellDef> Joined Date </th>
                                <td mat-cell *matCellDef="let element"> {{element?.createdAt | date}} </td>
                            </ng-container>
                            <ng-container matColumnDef="mobile">
                                <th mat-header-cell *matHeaderCellDef> Mobile No </th>
                                <td mat-cell *matCellDef="let element"> {{element?.mobile}} </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Actions
                                    <div class="d-flex justify-content-center gap-3 align-items-center">
                                        <!-- <span class="action-head" >Edit</span> -->
                                        <span class="action-head">Delete</span>
                                        <span class="action-head">Active<br>Inactive</span>
                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="action-icon d-flex justify-content-center gap-3 align-items-center ">
                                        <!-- <span class="action-head" ><mat-icon matTooltip="Edit">create</mat-icon></span> -->
                                        <!-- <span class="action-head"><mat-icon matTooltip="Delete" (click)="deletDialog(element.id)" class="text-danger" (click)="deleteUser(element)">delete</mat-icon></span> -->
                                        <span class="action-head"><mat-icon matTooltip="Delete" data-bs-toggle="modal"
                                                data-bs-target="#delete" class="text-danger" (click)="getId(element, 1)">delete</mat-icon></span>
                                        <span class="action-head">
                                            <mat-slide-toggle [checked]="element.is_active"
                                                (change)="activeInactive(element?.id,$event)">
                                            </mat-slide-toggle>
                                        </span>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                        </table>
                        <mat-paginator #MatPaginator1="matPaginator" [pageSizeOptions]="[10, 20, 30]"
                            showFirstLastButtons aria-label="Select page of periodic elements">
                        </mat-paginator>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Driver">
                <div class="row align-items-center my-3">
                    <div class="col-md-6 col-lg-3  mb-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Search</mat-label>
                            <input matInput placeholder="Search here.." (keyup)="SearchForDriver($event)">
                        </mat-form-field>
                    </div>
                    <!-- <div class="col-md-6 col-lg-3 mb-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Select an option</mat-label>
                            <mat-select disableRipple>
                                <mat-option value="1">Option 1</mat-option>
                                <mat-option value="2">Option 2</mat-option>
                                <mat-option value="3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->

                    <!-- <div class="col-md-6 col-lg-3  mb-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Enter a date range</mat-label>
                            <mat-date-range-input [rangePicker]="picker1">
                                <input matStartDate placeholder="Start date">
                                <input matEndDate placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker1></mat-date-range-picker>
                        </mat-form-field>
                    </div> -->

                    <!-- <div class="col-md-6 col-lg-3 mb-3 text-end">
                        <button mat-raised-button color="primary" data-bs-target="#add-edit" data-bs-toggle="modal">Add Button</button>
                    </div> -->
                </div>
                <div class="table-responsive  mb-5">


                    <div class="w-100">
                        <table mat-table [dataSource]="dataSource2">

                            <!-- Position Column -->
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element, let i = index"> {{i + 1}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="weight">
                                <th mat-header-cell *matHeaderCellDef> Mobile </th>
                                <td mat-cell *matCellDef="let element"> {{element?.mobile}} </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="symbol">
                                <th mat-header-cell *matHeaderCellDef> Image </th>
                                <td mat-cell *matCellDef="let element">
                                    <img class="mb-1 mt-2 border-1"
                                        src="{{(element?.profile_picture) ? (element?.profile_picture) : '/assets/images/profile.png'}}"
                                        style="width: 50px; height: 50px; background-color: #414141;">
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Actions
                                    <div class="d-flex justify-content-center gap-3 align-items-center">
                                        <!-- <span class="action-head" >Edit</span> -->
                                        <span class="action-head">Delete</span>
                                        <span class="action-head">Active<br>Inactive</span>
                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="action-icon d-flex justify-content-center gap-3 align-items-center ">
                                        <!-- <span class="action-head" ><mat-icon matTooltip="Edit">create</mat-icon></span> -->
                                        <!-- <span class="action-head"><mat-icon matTooltip="Delete" (click)="deletDialog(element.id)" class="text-danger">delete</mat-icon></span> -->
                                        <span class="action-head"><mat-icon matTooltip="Delete" data-bs-toggle="modal"
                                            data-bs-target="#delete"
                                                (click)="getId(element, 2)"
                                                class="text-danger">delete</mat-icon></span>
                                        <span class="action-head"><mat-slide-toggle [checked]="element?.is_active"
                                                (change)="activeInactiveDriver(element?.id,$event)"></mat-slide-toggle></span>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                        </table>

                        <mat-paginator #MatPaginator2="matPaginator" [pageSizeOptions]="[10, 20, 30]"
                            showFirstLastButtons aria-label="Select page of periodic elements">
                        </mat-paginator>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<!--  modal -->
<div class="modal fade" id="add-edit">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark">Add</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label for="" class="form-label">First Name</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mb-3">
                            <label for="" class="form-label">Last Name</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mb-3">
                            <label for="" class="form-label">Gender</label>
                            <select class="form-select">
                                <option value="" hidden>Select Gender</option>

                                <option value="">Male</option>
                                <option value="">Female</option>

                            </select>
                        </div>
                        <div class="text-center">
                            <button type="submit" mat-raised-button color="primary"
                                data-bs-dismiss="modal">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="delete">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="row">
                    <div class="col-12">
                        <div class="modal-icon">
                            <mat-icon class="text-danger">delete</mat-icon>
                        </div>
                        <p>Are you sure you want to delete?</p>
                        <button mat-button data-bs-dismiss="modal">No</button>
                        <button mat-raised-button color="primary" class="ms-3" (click)="delete()" data-bs-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>